body{
background-color: black;
}
header{
font: 150% serif;
color: white;
background-color: black;
text-align: center;
padding: 10px;

}
header:hover{

    background-image: linear-gradient(to right, rgb(202, 21, 42), #93291E);
    color: black;
    transition-duration: 1000ms;
    padding: 30px;
    
}
#menu{
width: 100%;
color: black;
background-image: linear-gradient(to right, rgb(202, 21, 42), #93291E);
text-align: center;
display: inline-block;
}
#menu a{
    color: white;
    text-decoration: none;
    padding: 10px 270px;

}
#menu a:hover{
    background-color: rgb(235, 64, 81);
    transition-duration: 1000ms;
    border-radius: 30px;


}
#menu p{
    font-size: 30px;
}
#musica h2{
    color: white;
    text-align: center;
}